@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
:root{
    --main-color:#d87295;
    --second-color:#f5bace27;
    --acento:#fbf6b9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   text-decoration: none; 
   font-family:Ubuntu, sans-serif; 
    
}
html{
    color: #333;
    scroll-behavior: smooth;
}
nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    transition: all 0.4 easy;
    z-index: inherit;99
}
nav.sticky{
    padding: 13px 0;
    background-color: var(--main-color);
}
nav .navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav.sticky .navbar .logo a{
    color: #fff;
}
nav .navbar .logo a{
    font-size: 40px;
    font-weight: 500;
    color: var(--main-color);
}

nav .navbar .menu{
    display: flex;
}
nav .navbar .menu li {
    margin: 0 8px;
    list-style: none;
}
nav.sticky .navbar .menu li a {
    color: #fff;
}
.navbar .menu li a{
    font-size: 18px;
    font-weight: 500;
    color: #0e2431;
}
.navbar .menu li a:hover{
    color: var(--main-color);
}
.navbar .media-icons a{
    font-size: 18px;
    margin: 0 6px;
    color: var(--main-color);
}
nav.sticky .navbar .media-icons a{
    color: #fff;
}
.navbar .media-icons a:hover{
    color: var(--main-color);
    background-color: #fff;
}
.navbar .media-icons a{
    font-size: 18px;
    margin: 0 6px;
    color: var(--main-color);
    
}
/* side */
nav .menu-btn,
.navbar .cancel-btn {
    position:absolute;
    color:rgb(9, 8, 8);
    font-size: 20px;
    right: 30px;
    top: 20px;
    display: none;
/*     z-index: 2;
 */}
nav .menu-btn{
    color: var(--main-color);
}
/* home */
.home{
    height: 100vh;
    width: 100%;
    background: url("./assets/perfil.png") no-repeat;
    background-position: right ;
    border-style: cover;
    background-attachment: fixed;
    flex-direction: column;

}
.home .home-content{
    height:100% ;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.home .text .text-one{
    font-size: 25px; 
}
.home .text .text-two{
    font-size: 75px; 
    font-weight: 600;
    margin-left: -3px;
}
.home .text .text-three{
    font-size: 40px; 
}
.home .text .text-four{
    font-size: 23px; 
    margin: 5px 0;
}
.home .button{
    margin: 14px 0;
}
.home .button button{
    outline: none;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    background-color: var(--main-color);
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.5s ease;

}
.home .button button:hover{
    color: var(--main-color);
    background-color: #fff;
    border-color: var(--main-color);
}
/* about */
section{

}
section .content{
    width: 80%;
    margin: 40px auto;
    font-family: 'poppins', sans-serif;
}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    z-index: 2;

}
section .title span{
    font-size: 30px;
    font-weight: 600;
    position:relative ;

}
section .title span::before,
section .title span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: var(--main-color);
}
section .title span::after{
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px;
}
.about .about-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .about-details right{
    width: 45%;

}
.about .about-details right img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}
.about .about-details .left{
    width: 55%;
}
section  .topic{
    font-size: 25px;
    font-weight: 500;
    color: #0e2431;
    margin-bottom: 10px;
}
section .button{
    margin: 14px 0;
}
section .button button{
    outline: none;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    background-color: var(--main-color);
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.5s ease;

}
section .button button:hover{
    color: var(--main-color);
    background-color: #fff;
    border-color: var(--main-color);
}
/* habilidades */
.skills{
    background-color: var(--second-color);
}
.skills .content{
    padding:40px 0;
}
.skills .skill-details{
    display: flex;
    align-items:center ;
    justify-content: space-between;
}
.skills .skill-details .left{
    width:50% ;

}
.skill-details .left .experience{
    display: flex;
    align-items: center;
}
.skill-details .left .experience .num{
    font-size:80px ;
    color: black;
    font-weight: 500;
} 
.skill-details .left .experience .exp{
    font-size:18px ;
    color: black;
} 
.skill-details .left p{
    color: #333;
    text-align: justify;
    font-weight: 500;
    justify-content: space-between;
    flex-wrap: wrap;

}
.skills .skill-details .boxes{
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills .skill-details .boxes .box{
    width: calc(100% / 2 -20px);
}
.skills .skill-details .boxes .box .topic{
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
}
.skills .skill-details .boxes .box .num{
    font-size: 60px;
    font-weight: 500;
    color: var(--main-color);

}
/* servicios */
.services .boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services .boxes .box{
    width:calc(100% /3 -20px) ;
    margin: 20px 0;
    border-radius:12px;
    box-shadow:0 5px 10px rgb(0, 0, 0, 0.15) ;
    text-align: center;
    padding: 30px 20px;
    transition: all 0.6 ease;

}
.services .boxes .box:hover{
    background-color: var(--main-color);
    color: #fff;

}

.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 50%;
    text-align: center; 
    line-height: 50px;
    margin: 0 auto 10px auto;
    transition: all 0.4 ease;

}
.services .boxes .box:hover .icon{
    background-color: #fff;
    color: var(--main-color);
}
.services .boxes .box:hover .topic{
    color: #fff;
}
 /* contacto */
 .contact .text{
    text-align: center;
    margin: auto;
    width: 80%;
 }
 .contact{
    background-color:  #fef5f7;
    padding: 20px 0;
 }
/* footer */
footer {
    background-color: var(--main-color);
    text-align: center;
    color: #fff;
    padding: 15px ;
}
footer .text span a{
    color: #fff;
    font-size:18px ;
    font-weight: 500;
}
footer .text span a:hover{
    text-decoration:underline ;
}
/* boton scroll */
.scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 12px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}


/* responsive */
@media (max-width: 1190px) {
    .about .content{
        width: 85%;
    }
    .skills .content{
        width: 90%;
    }
    .services .content{
        width: 90%;


    }
}
@media (max-width: 1090px) {
    .about .about-details{
 flex-direction: column;
    }
    .about .about-details right{
        width: 100%;
        display: flex;
        justify-content: ;
    
    }
    .about .about-details left{
        width: 85%;
        margin: 40px 0;
    }
    .services .boxes .box{
        width: calc(100% / 2 - 20px);
    }
    .contact .text{
        width: 90%;
     }
}
@media (max-width: 816px) {
    nav .navbar .menu{
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        background-color:var(--main-color) ;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        transition: all 0.5s ease;
}
nav .navbar.active .menu {
    left: 0;
}
.navbar .menu li a{
    display: block;
    margin: 10px 0;
    font-size: 23px;
    color: #fff;
}
.navbar .media-icons a{
    display: none;
    
}
nav .menu-btn,
.navbar .cancel-btn {
    display: block;
}
.home .text .text-two{
    font-size: 50px;
}
.home .text .text-three{
font-size: 60px;
}
.skills .skill-details{
    flex-direction:column;
    align-items:center ;
    justify-content: space-between;
  }
  .skills .skill-details .left{
    width: 90%;
  }
  .skills .skill-details .boxes{
    width: 90%;
    margin: 40px 0;
  }
}
 @media (max-width: 898px) {
    .home .text .text-two{
        font-size: 50px;
        transition: all 0.4s ease;

    }
    .home .text .text-three{
        font-size: 33px;
        }
        .contact .text{
            width: 100%;
         }
} 
